/* zoom */
/* small */
.zoom-25 {
    transition: transform 0.3s ease;
}

.zoom-25:hover {
    transform: scale(0.25);
    box-shadow: 0 .2rem .5rem  rgba(0, 0, 0, 0.15) !important;
}

.zoom-50 {
    transition: transform 0.3s ease;
}

.zoom-50:hover {
    transform: scale(0.5);
    box-shadow: 0 .2rem .5rem  rgba(0, 0, 0, 0.15) !important;
}

.zoom-75 {
    transition: transform 0.3s ease;
}

.zoom-75:hover {
    transform: scale(0.75);
}

/* big */
.zoom-101 {
    transition: transform 0.3s ease;
}

.zoom-101:hover {
    transform: scale(1.01);
}
.zoom-102 {
    transition: transform 0.2s ease;
}

.zoom-102:hover {
    transform: scale(1.02);
}
.zoom-103 {
    transition: transform 0.3s ease;
}

.zoom-103:hover {
    transform: scale(1.03);
}
.zoom-104 {
    transition: transform 0.3s ease;
}

.zoom-104:hover {
    transform: scale(1.04);
}

.zoom-105 {
    transition: transform 0.3s ease;
}

.zoom-105:hover {
    transform: scale(1.05);
}

/* shadows */

.shadow-h-bottom:hover {
    box-shadow: 0 .2rem .5rem  rgba(0, 0, 0, 0.15) !important;
}

